body {
	margin: 0 auto;
}

nav {
	position: relative;
	z-index: 6;
}

.container {max-width: 1081px}

.bg {
	background: #000 url(../img/background.jpg) no-repeat center center;
}

.destacado {
	color: #f7941d;
}

.header {
	background: #f8941d url(../img/header-bg.jpg) repeat center center;
	height: 168px;
	position: relative;
	text-align: center;
}

.header ul a {
	color: #fff;
	text-transform: uppercase;
}

.header ul a:hover {
	color: #f7941d;
	text-decoration: none;
}

.header ul .active {
	color: #f7941d;
}

.header ul {
	background-color: #000;
	height: 50px;
	list-style: none;
	opacity: 0.7;
	position: absolute;
	top: 60px;
	width: 100%;
}
.header ul li {
	display: inline-block;
	line-height: 45px;
}

.header ul li span 
{
	color: #fff;
	display: inline-block;
	font-size: 1.1em;
}

.header .logo {
	left: 0;
	position: absolute;
	top: -190px;
}

.header .logo-wrapper {
	background-color: #000;
}

.header .logo-wrapper a {
	display: inline-block;
	position: relative;
	width: 363px;
}
#carousel-home .item{
	height: 590px;
}

#carousel-quienes .item {height: 460px;}

#carousel-home .carousel-indicators li,
#carousel-quienes .carousel-indicators li {
	background: transparent url("../img/circle.png") no-repeat center center;
	border: none;
	border-radius: 0;
	height: 40px;
	width: 40px;
}

#carousel-home .carousel-indicators .active,
#carousel-quienes .carousel-indicators .active {
	background: transparent url("../img/circle-active.png") no-repeat center center;
}

#carousel-home .circle-wrapper {
	padding: 50px;
}

#carousel-home .comprender {
	padding: 10px 120px;
}

.circle {
	background-color: #f8941d;
	border-radius: 50%;
	display: inline-block;
	height: 234px;
	margin: 143px 0;
	padding: 0;
	position: relative;
	width: 234px;
}

.circle p {
	color: #fff;
	margin: -20px auto;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
}

#carousel-quienes .megatendencias-img {
	margin: 0 auto;
	padding: 100px 50px 0;
}

#carousel-quienes .carousel-caption {
	margin-top: 50px;
	overflow: hidden;
	padding: 0 100px;
	position: initial;
	text-align: justify;
}

.img-contacto {
	margin: 0 auto;
	padding-top: 120px;
	z-index: 3;
}

.contacto .bg {text-align: center;}

.servicios .bg {height: 580px;}

.inclined {
	background-color: blue;
	float: left;
	height: 580px;
	width: 200px;
	/*-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);*/
}

.servicios-wrapper {
	background-color: grey;
	height: 583px;
	overflow: hidden;
	position: relative;
}

.servicios-wrapper .servicio-info {
	height: 583px;
	position: absolute;
	width: 608px;
	z-index: 4;
}

.servicios .publica,
.servicios .mercado,
.servicios .estrategia,
.servicios .politica,
.servicios .tecnologica {
	margin: 0;
	position: absolute;
	z-index: 5;
}

.servicios .publica {
	background: url(../img/01_Estudios.png) no-repeat left center;
	height: 581px;
	left: 0;
	width: 314px;
}

.publica a {
	display: inline-block;
	height: 80px;
	left: 30px;
	margin-top: -40px;
	position: absolute;
	text-indent: -9999999px;
	top: 46%;
	width: 150px;
}

.servicios .mercado {
	background: url(../img/02-estudios-m.png) no-repeat left center;
	height: 581px;
	left: 110px;
	width: 410px;
}

.mercado a {
	display: inline-block;
	height: 80px;
	left: 135px;
	margin-top: -40px;
	position: absolute;
	text-indent: -9999999px;
	top: 46%;
	width: 150px;
}

.servicios .estrategia {
	background: url(../img/03-estrategias.png) no-repeat left center;
	height: 581px;
	left: 317px;
	width: 410px;
}

.estrategia a {
	display: inline-block;
	height: 80px;
	left: 135px;
	margin-top: -40px;
	position: absolute;
	text-indent: -9999999px;
	top: 46%;
	width: 150px;
}

.servicios .politica {
	background: url(../img/04-asesoria.png) no-repeat left center;
	height: 581px;
	left: 524px;
	width: 410px;
}

.politica a {
	display: inline-block;
	height: 80px;
	left: 135px;
	margin-top: -40px;
	position: absolute;
	text-indent: -9999999px;
	top: 46%;
	width: 150px;
}

.servicios .tecnologica {
	background: url(../img/05-soluciones-2.png) no-repeat left center;
	height: 581px;
	left: 760px;
	width: 314px;
}

.tecnologica a {
	display: inline-block;
	height: 126px;
	left: 135px;
	margin-top: -40px;
	position: absolute;
	text-indent: -9999999px;
	top: 46%;
	width: 150px;
}